/* GENERAL STYLES AND CLASSES 
--------------------------------------------------------------------- */
body {
  padding: 5px;
}

/* HEADER STYLES
--------------------------------------------------------------------- */
header {
}

/* MAIN STYLES
--------------------------------------------------------------------- */
main {
    padding: 0 20px;
    min-height: 300px;

    .products-table {
        margin-top: 20px;
        
        .delete-column {
            width: 60px;
        }
    }


    /* TRANSITION ANIMATIONS FOR MAIN VIEW 
    ------------------------------------------*/

    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .5s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }


    /* side form */
    .view-side-form {
        .side-form {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .content {
                position: absolute;
                z-index: 100;
                top: 0;
                right: 0;
                width: 80%;
                height: 100%;
                overflow: auto;
                background: #fff;
                padding: 20px;
                border-left: 1px solid #e0e0e0;
            }

            .background {
                background: #000;
                opacity: .8;
                width: 100%;
                height: 100%;
            }
        }


        /* TRANSITION ANIMATIONS FOR SIDE FORM VIEW
        ------------------------------------------*/

        /* animations for side form view */
        &.ng-enter, 
        &.ng-leave {
            /* transition on enter and leave for .5s */
            transition: .5s;
        }

        /* start 'enter' transition */
        &.ng-enter {
            .side-form {
                .content {
                    /* start with content 80% off the right of the page */
                    right: -80%;
                }

                .background {
                    /* start with background opacity 0 (invisible) */
                    opacity: 0;
                }
            }
        }

        /* end 'enter' transition */
        &.ng-enter-active {
            .side-form {
                .content {
                    /* transition the right position which 
                       slides the content into view */
                    transition: right .5s;

                    /* end with content aligned to the right of the page */
                    right: 0;
                }

                .background {
                    /* transition the background opacity to fades it in */
                    transition: opacity .5s;

                    /* end with background opacity 0.8 to give the overlay effect */
                    opacity: .8;
                }
            }
        }

        /* end 'leave' transition */
        &.ng-leave-active {
            .side-form {
                .content {
                    /* transition the right position which 
                       slides the content out of view */
                    transition: right .5s;
                    
                    /* end transition with the content completely off the page */
                    right: -100%;
                }

                .background {
                    /* transition the background opacity to fades it out */
                    transition: opacity .5s;

                    /* end with background opacity 0 to hide it */
                    opacity: 0;
                }
            }
        }
    }
}

/* FOOTER STYLES
--------------------------------------------------------------------- */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ddd;
}
